<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALLOCATE COURSE</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/admin_style.css" type="text/css">

    <style>

        @font-face {
       font-family: 'CeraPro-black';
       src: url(/assets/fonts/CeraPro-Black.ttf) format("truetype");
       font-weight: bold;
       font-style: normal;
   }
   
   @font-face {
       font-family: 'CeraPro-bold';
       src: url(/assets/fonts/CeraPro-Bold.ttf) format("truetype");
       font-weight: bold;
       font-style: normal;
   }
   
   @font-face {
       font-family: 'CeraPro-regular';
       src: url(/assets/fonts/CeraPro-Regular.ttf) format("truetype");
       font-weight: 400;
       font-style: normal;
   }
   
   @font-face {
       font-family: 'CeraPro-Thin';
       src: url(/assets/fonts/CeraPro-Thin.ttf) format("truetype");
       font-weight: 300;
       font-style: normal;
   }
   
   @font-face {
       font-family: 'CeraPro-medium';
       src: url(/assets/fonts/CeraPro-Medium.ttf) format("truetype");
       font-weight: 500;
       font-style: normal;
   }

   body{
       font-family: 'CeraPro-medium' !important;
   }

   .heading h1
   {
       font-family: 'CeraPro-black' !important;
       font-size: 40px;
   }

   .heading 
   {
       margin-bottom: 20px;
   }

   </style>
</head>
<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <div class="demo-drawer mdl-layout__drawer  mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">
                <img src="/assets/img/logo.png" class="demo-avatar">
                <div class="demo-avatar-dropdown">
            
                    <div class="mdl-layout-spacer"></div>
                </div>
            </header>
            <nav class="demo-navigation mdl-navigation " style=" font-family: 'CeraPro-medium' !important;">
                <a class="mdl-navigation__link"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
                <a class="mdl-navigation__link" href="/addstudent"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person_add</i>Add Student</a>
                <a class="mdl-navigation__link" href="/addfaculty"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person_add</i>Add Faculty</a>
                <a class="mdl-navigation__link" href="/addcourse"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">note_add</i>Add
                    Course</a>
                <a class="mdl-navigation__link" href="/allocatecourse"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assignment</i>Allocate Course</a>
                <a class="mdl-navigation__link" href="/sendupdate"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">announcement</i>Send Update</a>
                <a class="mdl-navigation__link" href="/login"><i
                        class="mdl-color-text--blue-grey-400 material-icons" role="presentation">cancel</i>Sign Out</a>
            </nav>
        </div>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="container" style="margin-top: 10%;">
                    <div class="heading">
                        <h1>ALLOCATE COURSE</h1>
                    </div>
                       <form action="" method="POST">
                           <div class="form-group">
                               <label for="name">Faculty id</label>
                               <input type="text" name="f_id" id="name" class="form-control" placeholder="RK">
                           </div>
                           <div class="form-group">
                               <label for="code">Course Code</label>
                               <select name="c_code" id="code" class="form-control">
                                   <option value="IJ20BDBS4C">IJ20BDBS4C</option>
                                   <option value="IJ20BSWE4C">IJ20BSWE4C</option>
                                   <option value="IJ20BDAA4C">IJ20BDAA4C</option>
                                   <option value="IJ20BPPL4C">IJ20BPPL4C</option>
                                   <option value="IJ20BCNW4C">IJ20BCNW4C</option>
                               </select>
                           </div>
                           <button type="submit" class="btn btn-primary float-left">SUBMIT</button>
                       </form>
            </div>
        </main>


    </div>
</body>
</html>